{
  "project_info": {
    "project_number": "123456789",
    "project_id": "nimbin-production",
    "storage_bucket": "nimbin-production.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789:android:abcdef123456789",
        "android_client_info": {
          "package_name": "tech.nimbus.nimbin"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyC-production-key-here"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        },
        "analytics_service": {
          "status": 2
        },
        "crashlytics_service": {
          "status": 2
        },
        "performance_monitoring_service": {
          "status": 2
        }
      }
    }
  ],
  "configuration_version": "1"
}

